body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
  background-color: #f2f2f3;
}

a {
	color:red;
}

* {
	box-sizing: border-box;
  }

.header {
  display: flex;
  flex-wrap: wrap;
}

/* Unicode title */
.col-title {
  text-align: center;
  padding: 10px;
  font-size: 60px;
}

/*MIDDLE PART*/
/* general styles*/
.menu {
  width: 60%;
}
.col {
  font-size: 30px;
  padding: 10px;
}

.content {
  font-size: 30px;
  padding: 10px;
}

.row {
  /*border-top: 1px solid #3954a5;*/
  box-shadow: 0px -5px 8px -3px #42ad49;
}

.row:hover {
  background-color: #42ad49;
  color: #f2f2f3;
}

 /*BUY BOOK*/
.content-book {
  font-size: 14px;
  padding: 10px 40px 30px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-section {
	width: 35%;
	height: 100%;
  padding-right: 10px;
  }

  .right-section {
	width: 65%;
	height: 100%;
  }
  
  video {
	width: 350px;
	height: 400px;
	object-fit: cover;
	margin-right: auto;
	margin-top: auto;
  mix-blend-mode: screen;
    filter: grayscale(1);

  }

 /*LINK*/
.content-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid black;
}

.titlelink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 5px 10px 10px;
}

.left-title {
  width: 50%;
  height: 100%;
}

.right-title {
  width: 50%;
  height: 100%;
}

.left-link {
  width: 50%;
  height: 100%;
  padding: 10px;
  border-right: 3px solid black;
}

.left-link:hover {
  background-color: white;
  color: black;
}

span {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 80%;
}


.left-link span {
  visibility: hidden;
}

.left-link:hover, .left-link:hover span {
  visibility:visible;
}

.right-link {
  width: 50%;
  height: 100%;
  padding: 10px;
}

.right-link:hover {
  background-color: white;
  color: black;
}

/* BUTTONS LEFT & RIGHT */
.button-left {
  padding-top: 20px;
  width: 20%;
  font-size: 100px;
  text-align: center;
  border-left: 3px solid #3954a5;
  /*background-color: #3954a5;*/
  transform: rotateY(180deg);
}

.button-right {
  padding-top: 20px;
width: 20%;
font-size: 100px;
text-align: center;
border-left: 3px solid #3954a5;
/*background-color: #3954a5;*/
}

.button1 {
  width: 20%;
  font-size: 100px;
  text-align: center;
  cursor: pointer;
  border-top: 2px solid #3954a5;
}

  .moreinfo {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    box-shadow: inset 0 0 70px #42ad49;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    color: black;
  }

/*body*/
.container {
	display: flex;
	flex-wrap: wrap;
}

.inner {
  padding: 20px;
  text-align: center;
}
.thumbnail {
	width: 20%;
	grid-template-columns: repeat(5, 25fr);
	grid-template-rows: repeat(5, 25fr);
	background-color: #f2f2f3;
	/*margin-bottom: 30px;*/
	grid-gap: 2px;
	outline: 3px solid #3954a5; /* The outline creates the border */
	text-align: center;
	z-index: 3; /* original z-index */
	transition: 0.7s;
}

/* If you want to change the color on the hover state */
.thumbnail:hover {
	outline: 3px solid #42ad49;
	z-index: 4; /* You must apply a z-index bigger than the original z-index or else some parts of the outline will be behind other grid elements */
}

.thumbnail.enlarge {
	width: 40%;
	transition: 0.7s;
  }

  .thumbnail img {
	width: 80%;
  }

.unicode-container {
  padding-bottom: 15px;
  color:#42ad49;
}




/* Archive - just incase


  .container {
	display: flex;
	flex-wrap: wrap;
  }
  
  .thumbnail {
	width: 20%;
	border: 2px solid #3954a5;
	transition: 0.7s;
  border-collapse: collapse;
  }
  
  .thumbnail.enlarge {
	width: 40%;
	transition: 0.7s;
  }
  
  .thumbnail img {
	width: 100%;
  }
*/
